extends layout

block content
    //
      *** REFERENCES IMAGE ***
      _________________________________________________________
    section.reference-container.bg-gray
      .header.mb-5.pr-5
        h4
          | Projects
        p
          | In-depth Case Studies to show you what I can offer and how I work.
      .container
        .row
          .isotope-item.col-md-4.angular.python-django
            .card.rounded-0.border-0.shadow-sm.mb-5
              .card-img-container.position-relative.reference
                img.card-img-top.rounded-0(src='/img/portfolio-7.jpg', alt='')
                .card-img-overlay.o.overlay
                  a.card-img-overlay.overlay-content.p-lg-4(href='phdproject.html')
                    h5.card-title.font-weight-bold Client: PhD
                    p.card-text
                      | Project summary goes here. Lorem ipsum dolor sit amet,
                      | consectetur
                      | adipiscing elit.
                      | Quisque vel sapien quis nulla dictum euismod...
              .card-body.pb-0
                h4.card-title.text-truncate.text-center.mb-0
                  a(href='phdproject.html')
                    | Phd Product
              .card-footer.border-0.text-center.bg-white.pb-4
                ul.list-inline.mb-0.mx-auto
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill Angular
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill Django
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill MongoDB
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill HTML/CSS
            // //card
          .isotope-item.col-md-4.angular.python-django
            .card.rounded-0.border-0.shadow-sm.mb-5
              .card-img-container.position-relative.reference
                img.card-img-top.rounded-0(src='/img/portfolio-2.jpg', alt='')
                .card-img-overlay.o.overlay
                  a.card-img-overlay.overlay-content.p-lg-4(href='weddingshop_project.html')
                    h5.card-title.font-weight-bold Client: PhD
                    p.card-text
                      | Project summary goes here. Lorem ipsum dolor sit amet,
                      | consectetur
                      | adipiscing elit.
                      | Quisque vel sapien quis nulla dictum euismod...
              .card-body.pb-0
                h4.card-title.text-truncate.text-center.mb-0
                  a(href='weddingshop_project.html')
                    | WeddingShop Product
              .card-footer.border-0.text-center.bg-white.pb-4
                ul.list-inline.mb-0.mx-auto
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill Angular
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill Django
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill MongoDB
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill HTML/CSS
            // //card
          .isotope-item.col-md-4.angular.python-django
            .card.rounded-0.border-0.shadow-sm.mb-5
              .card-img-container.position-relative.reference
                img.card-img-top.rounded-0(src='/img/portfolio-3.jpg', alt='')
                .card-img-overlay.o.overlay
                  a.card-img-overlay.overlay-content.p-lg-4(href='project.html')
                    h5.card-title.font-weight-bold Client: PhD
                    p.card-text
                      | Project summary goes here. Lorem ipsum dolor sit amet,
                      | consectetur
                      | adipiscing elit.
                      | Quisque vel sapien quis nulla dictum euismod...
              .card-body.pb-0
                h4.card-title.text-truncate.text-center.mb-0
                  a(href='project.html')
                    | TheScrollCard Product
              .card-footer.border-0.text-center.bg-white.pb-4
                ul.list-inline.mb-0.mx-auto
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill Angular
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill Django
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill MongoDB
                  li.list-inline-item
                    span.badge.badge-secondary.badge-pill HTML/CSS
            // //card
