extends layout

block content
  .bg-gray
    // intro
    section.res-intro
      .header.pr-5
        .container
          .row
            .col-md-6.col-ml-3
              h4 Resume
            .col-md-6.col-ml-3
              button.btn.btn-primary.fa.fa-download.float-right  Download PDF Version
    // resume
    section.rel-container.pt-0
      // intro
      .container.contain
        .row
          .col-md-3.pl-0.text-center
            img.image(src='./img/miracle.png', alt='', width='100%')
          .col-md-4.detail-text.pt-5
            h3 Miracle Anaje
            p Full Stack Developer &amp; I.T Officer
            p.res-mail 
              i.fa.fa-envelope
                span.pl-2
                  | anajemiracle@gmail.com
            p.res-mobile
              i.fa.fa-mobile
                span.pl-2
                  | 08131179082
          .col-md-1
          .col-md-4.pt-5
            ul.icon-list
              li
                a.social-icon(href='')
                  span.fa.fa-linkedin.fa-container
                  | linkedin/miracleanaje
              li.mt-3
                a.social-icon(href='')
                  span.fa.fa-facebook.fa-container
                  | facebook/miracleanaje
              li.mt-3
                a.social-icon(href='')
                  span.fa.fa-twitter.fa-container
                  | twitter/miracleanaje
              li.mt-3
                a.social-icon(href='')
                  span.fa.fa-github.fa-container
                  | github/miracleanaje
      // career summary
      .container.info-text
        .career-contain
          div
            h4.career-text.pt-5 CAREER SUMMARY
            p.pt-4
              | Summarise your career here. You can make a PDF version of your resume using our free Sketch
              | template
              | here. Aenean
              | commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient
              | montes, nascetur ridiculus
              | mus. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet, consectetuer
              | adipiscing elit. Aenean
              | commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
              | montes, nascetur
              | ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
              | consequat
              | massa quis enim.
              | Donec pede justo, fringilla vel, aliquet nec, vulputate eget. Lorem ipsum dolor sit amet,
              | consectetuer adipiscing elit.
          .row
            // work experience
            .col-md-9
              h4.career-text.pt-4 WORK EXPERIENCE
              .work-text
                // PhD work summary
                .ml-4.pt-3.mb-4
                  .row
                    // header
                    .col-ml-6
                      h6.post-text Full Stack Developer
                      small 2019 - present
                    .col-ml-6.ml-auto
                      small Profound House of Design
                  p.pt-2
                    | Summarise your career here. You can make a PDF version of your resume using our free
                    | Sketch
                    | template
                    | here. Aenean
                    | commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis
                    | parturient
                    | montes, nascetur ridiculus
                    | mus. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet,
                    | consectetuer
                    | adipiscing elit. Aenean
                  div
                    h6 Projects:
                    p
                      | Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                      | excepturi
                      | sint occaecati cupiditate non
                      | provident.
                    ul.ml-2
                      li Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                  div
                    h6 Technologies used:
                    .ml-4
                      ul.list-inline.mb-2.mx-auto
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill Angular
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill Django
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill MongoDB
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill HTML/CSS
                // Cardinal work summary
                .ml-4.pt-5
                  .row
                    // header
                    .col-ml-6
                      h6.post-text I.T Officer
                      small 2016 - 2017
                    .col-ml-6.ml-auto
                      small Cardinal Security Services Ltd
                  p.pt-2
                    | Summarise your career here. You can make a PDF version of your resume using our free
                    | Sketch
                    | template
                    | here. Aenean
                    | commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis
                    | parturient
                    | montes, nascetur ridiculus
                    | mus. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet,
                    | consectetuer
                    | adipiscing elit. Aenean
                  div
                    h6 Projects:
                    p
                      | Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                      | excepturi
                      | sint occaecati cupiditate non
                      | provident.
                    ul.ml-2
                      li Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                  div
                    h6 Technologies used:
                    .ml-4
                      ul.list-inline.mb-2.mx-auto
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill Angular
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill Django
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill MongoDB
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill HTML/CSS
                // Teaching work summary
                .ml-4.pt-5
                  .row
                    // header
                    .col-ml-6
                      h6.post-text I.C.T Teacher
                      small 2017 - 2018
                    .col-ml-6.ml-auto
                      small Love Foundation Schools
                  p.pt-2
                    | Summarise your career here. You can make a PDF version of your resume using our free
                    | Sketch
                    | template
                    | here. Aenean
                    | commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis
                    | parturient
                    | montes, nascetur ridiculus
                    | mus. Donec quam felis, ultricies nec, pellentesque eu. Lorem ipsum dolor sit amet,
                    | consectetuer
                    | adipiscing elit. Aenean
                  div
                    h6 Projects:
                    p
                      | Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                      | excepturi
                      | sint occaecati cupiditate non
                      | provident.
                    ul.ml-2
                      li Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                      li.mt-1 Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.
                  div
                    h6 Technologies used:
                    .ml-4
                      ul.list-inline.mb-2.mx-auto
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill Angular
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill Django
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill MongoDB
                        li.list-inline-item
                          span.badge.badge-secondary.badge-pill HTML/CSS
            // skills
            .col-md-3
              h4.career-text.pt-4 SKILLS
              .skill-item
                // frontend progress bar
                div
                  h6.pt-2.pb-1 Frontend
                  .pb-2
                    .progress-title
                      small HTML5
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                  .pb-2
                    .progress-title
                      small CSS
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                  .pb-2
                    .progress-title
                      small JavaScript
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                  .pb-2
                    .progress-title
                      small SASS
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                // backend progress bar
                div
                  h6.pt-3.pb-1
                    strong Backend
                  .pb-2
                    .progress-title
                      small Node.Js
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                  .pb-2
                    .progress-title
                      small Express.Js
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                  .pb-2
                    .progress-title
                      small MongoDB
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                  .pb-2
                    .progress-title
                      small PUG
                    .progress
                      .progress-bar.progress-bar-skill1(role='progressbar', style='width: 90%', aria-valuenow='0', aria-valuemin='60', aria-valuemax='100')
                // soft skills
                div
                  h4.career-text.mt-5 Soft Skills
                  ul.skill-item
                    li
                      i.fa.fa-check.pr-1
                      |                                         Self-Motivated.
                    li.mt-2
                      i.fa.fa-check.pr-1
                      |                                         Extremely Organized.
                    li.mt-2
                      i.fa.fa-check.pr-1
                      |                                         Good problem-solving skills.
                    li.mt-2
                      i.fa.fa-check.pr-1
                      |                                         Web and tech savvy, require little to no training.
                    li.mt-2
                      i.fa.fa-check.pr-1
                      |                                         Being a team player.
                    li.mt-2
                      i.fa.fa-check.pr-1
                      |                                         Attention to detail.
                    li.mt-2
                      i.fa.fa-check.pr-1
                      |                                         Critical Thinking.
                    li.mt-2
                      i.fa.fa-check.pr-1
                      |                                         Strong communication skills.
                // eduction
                div
                  h4.career-text.mt-5 EDUCATION
                  .mt-4
                    h5.degree-text B.sc(edu). Computer Science
                    h5.school-text.mb-1 Tai Solarin University of Education
                    small.year-text 2014 - 2018
                  .pt-4
                    h5.degree-text Senior School Leaving Certificate
                    h5.school-text.mb-1 Pecious Gem Nur/Pri. Schools
                    small.year-text 2005 - 2011
                // certificate
                div
                  h4.career-text.mt-5 CERTIFICATE
                  ul.mr-1.mt-3.cert-text
                    li.mb-1 National Youth Servcie Corp (N.Y.S.C)
                    li.mb-1 Google Digital Marketing
                    li.mb-1 HNG Bootcamp
                    li StartNG
                // language
                .lang-text
                  h4.career-text.mt-5 LANGUAGE
                  h6.mb-2.mt-4
                    | English
                    span (Professional)
                  h6.mb-2
                    | Germany
                    span (Professional)
                  h6.mb-2
                    | French
                    span (Professional)

