extends layout

block content
    // header
    section.phdproject
      .header
        h4
          | Web Development
        p
          | In-depth Case Studies to show you what I can offer and how I work.
    // Intro
    section
      .container
        .row
          .col-md-2
          .col-md-8
            .text-center
              img(src='./img/portfolio-1.jpg', alt='', width='100%', height='auto')
            .mt-5
              h4
                | Project Background
              p.mt-4
                | Project summary goes here. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                | sem quam
                | semper libero, sit
                | amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                | id,
                | lorem. Maecenas nec odio
                | et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                | Etiam
                | sit amet orci eget
                | eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales
                | sagittis magna.
                | Sed consequat, leo
                | eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce
                | vulputate
                | eleifend sapien.
                | Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
            div
              a(href='', target='_blank')
                button.btn.btn-primary  Visit Site
            // carousel here
            // requirements and challenges
            .mt-5
              h4
                | Challenges &amp; Requirements
              p.mt-4
                | Project summary goes here. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                | sem quam
                | semper libero, sit
                | amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                | id,
                | lorem. Maecenas nec odio
                | et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
              ul.ml-4.mt-4
                li.mb-3
                  | Documentation
                li.mb-3
                  | Documentation
                li.mb-3
                  | Documentation
                li.mb-3
                  | Documentation
                li
                  | Documentation
              p.mt-4
                | Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis.
                | Suspendisse pulvinar, augue ac
                | venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc.
                | Vestibulum ante ipsum primis in
                | faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Ut varius tincidunt
                | libero. Phasellus dolor.
                | Maecenas vestibulum mollis diam. Pellentesque ut neque. Pellentesque habitant morbi
                | tristique senectus et netus et
                | malesuada fames ac turpis egestas. In dui magna, posuere eget, vestibulum et, tempor auctor,
                | justo. In ac felis quis
                | tortor malesuada pretium. Pellentesque auctor neque nec urna.
            // images
            // technologies used
            .mt-5
              h4
                | Technologies Used
              p.mt-3
                | This template includes majority of the web development icons you can use in your case
                | studies. If you can&apos;t find the
                | icon in the template package you can always download the ones you want from
                | worldvectorlogo.com. Below are some
                | examples:
              .row
                .col-4.col-md-2.mr-0.mb-4.px-4
                  img.img-fluid(src='./img/logo-big.png', alt='')
                .col-4.col-md-2.mr-0.mb-4.px-4
                  img.img-fluid(src='./img/logo-big.png', alt='')
                .col-4.col-md-2.mr-0.mb-4.px-4
                  img.img-fluid(src='./img/logo-big.png', alt='')
                .col-4.col-md-2.mr-0.mb-4.px-4
                  img.img-fluid(src='./img/logo-big.png', alt='')
                .col-4.col-md-2.mr-0.mb-4.px-4
                  img.img-fluid(src='./img/logo-big.png', alt='')
                .col-4.col-md-2.mr-0.mb-4.px-4
                  img.img-fluid(src='./img/logo-big.png', alt='')
            // conclusion
            .mt-5
              h4
                | Conclusion
              p.mt-3
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                | Aenean massa. Cum sociis
                | natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                | ultricies nec, pellentesque
                | eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                | aliquet nec, vulputate eget,
                | arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                | pede mollis pretium.
                | Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                | tellus.
          .col-md-2

          .col-md-2
